desktop.ini
/.vs
/.vscode

solution/.vs

solution/Service/.vscode
solution/Service/.vs
solution/Service/.config
solution/Service/v16
solution/Service/obj
solution/Service/bin
solution/Service/Log
solution/Service/obj
solution/Service/output
solution/Service/app

solution/Models/.vscode
solution/Models/.vs
solution/Models/.config
solution/Models/v16
solution/Models/obj
solution/Models/bin
solution/Models/Log
solution/Models/obj
solution/Models/output
solution/Models/app

solution/Logic/.vscode
solution/Logic/.vs
solution/Logic/.config
solution/Logic/v16
solution/Logic/obj
solution/Logic/bin
solution/Logic/Log
solution/Logic/obj
solution/Logic/output
solution/Logic/app

solution/ConfigHelper/.vscode
solution/ConfigHelper/.vs
solution/ConfigHelper/.config
solution/ConfigHelper/v16
solution/ConfigHelper/obj
solution/ConfigHelper/bin
solution/ConfigHelper/Log
solution/ConfigHelper/obj
solution/ConfigHelper/output
solution/ConfigHelper/app

solution/Init/.vscode
solution/Init/.vs
solution/Init/.config
solution/Init/v16
solution/Init/obj
solution/Init/bin
solution/Init/Log
solution/Init/obj
solution/Init/output
solution/Init/app

solution/ServerBox/.vs
solution/ServerBox/.config
solution/ServerBox/v16
solution/ServerBox/obj
solution/ServerBox/bin
solution/ServerBox/Log
solution/solution/ServerBox/obj
solution/ServerBox/output
solution/ServerBox/app
solution/ServerBox/Profile.json
solution/ServerBox/DaoRoom.db
solution/ServerBox/Matrix/*
solution/ServerBox/Temp
solution/ServerBox/.vscode
solution/ServerBox/Upload

solution/MasterReset/.vscode
solution/MasterReset/.vs
solution/MasterReset/.config
solution/MasterReset/v16
solution/MasterReset/obj
solution/MasterReset/bin
solution/MasterReset/Log
solution/MasterReset/obj
solution/MasterReset/output
solution/MasterReset/app