desktop.ini
/.vs
/.vscode

solution/.vs

solution/Service/.vscode
solution/Service/.vs
solution/Service/.config
solution/Service/v16
solution/Service/obj
solution/Service/bin
solution/Service/Log
solution/Service/obj
solution/Service/output
solution/Service/app

solution/Entity/.vscode
solution/Entity/.vs
solution/Entity/.config
solution/Entity/v16
solution/Entity/obj
solution/Entity/bin
solution/Entity/Log
solution/Entity/obj
solution/Entity/output
solution/Entity/app

solution/Models/.vscode
solution/Models/.vs
solution/Models/.config
solution/Models/v16
solution/Models/obj
solution/Models/bin
solution/Models/Log
solution/Models/obj
solution/Models/output
solution/Models/app

solution/Logic/.vscode
solution/Logic/.vs
solution/Logic/.config
solution/Logic/v16
solution/Logic/obj
solution/Logic/bin
solution/Logic/Log
solution/Logic/obj
solution/Logic/output
solution/Logic/app

solution/ConfigHelper/.vscode
solution/ConfigHelper/.vs
solution/ConfigHelper/.config
solution/ConfigHelper/v16
solution/ConfigHelper/obj
solution/ConfigHelper/bin
solution/ConfigHelper/Log
solution/ConfigHelper/obj
solution/ConfigHelper/output
solution/ConfigHelper/app

solution/UDP/.vscode
solution/UDP/.vs
solution/UDP/.config
solution/UDP/v16
solution/UDP/obj
solution/UDP/bin
solution/UDP/Log
solution/UDP/obj
solution/UDP/output
solution/UDP/app

solution/Init/.vscode
solution/Init/.vs
solution/Init/.config
solution/Init/v16
solution/Init/obj
solution/Init/bin
solution/Init/Log
solution/Init/obj
solution/Init/output
solution/Init/app

solution/ServerBox/.vs
solution/ServerBox/.config
solution/ServerBox/v16
solution/ServerBox/obj
solution/ServerBox/bin
solution/ServerBox/Log
solution/solution/ServerBox/obj
solution/ServerBox/output
solution/ServerBox/app
solution/ServerBox/Profile.json
solution/ServerBox/DaoRoom.db
solution/ServerBox/Matrix/*
solution/ServerBox/Temp
solution/ServerBox/.vscode
solution/ServerBox/Upload

solution/Log/.vscode
solution/Log/.vs
solution/Log/.config
solution/Log/v16
solution/Log/obj
solution/Log/bin
solution/Log/Log
solution/Log/obj
solution/Log/output
solution/Log/app

solution/MasterReset/.vscode
solution/MasterReset/.vs
solution/MasterReset/.config
solution/MasterReset/v16
solution/MasterReset/obj
solution/MasterReset/bin
solution/MasterReset/Log
solution/MasterReset/obj
solution/MasterReset/output
solution/MasterReset/app

solution/SystemUpdate/.vscode
solution/SystemUpdate/.vs
solution/SystemUpdate/.config
solution/SystemUpdate/v16
solution/SystemUpdate/obj
solution/SystemUpdate/bin
solution/SystemUpdate/Log
solution/SystemUpdate/obj
solution/SystemUpdate/output
solution/SystemUpdate/app