desktop.ini
/.vs
/.vscode

solution/.vs

solution/ServerBox/.vs
solution/ServerBox/.config
solution/ServerBox/v16
solution/ServerBox/obj
solution/ServerBox/bin
solution/ServerBox/Log
solution/solution/ServerBox/obj
solution/ServerBox/output
solution/ServerBox/app
solution/ServerBox/Profile.json
solution/ServerBox/DaoRoom.db
solution/ServerBox/Matrix/*
solution/ServerBox/Temp
solution/ServerBox/.vscode
solution/ServerBox/Upload

solution/MasterReset/.vscode
solution/MasterReset/.vs
solution/MasterReset/.config
solution/MasterReset/v16
solution/MasterReset/obj
solution/MasterReset/bin
solution/MasterReset/Log
solution/MasterReset/obj
solution/MasterReset/output
solution/MasterReset/app